#body  {
  background-color: ;
  font-family: Sans-Serif;
  margin: 0;
  padding: 0;
  
}
.kolom {
  background-color: ;
}
.tengah {
  background-color: ;
}
.posisi {
  align-content: center;
  align-items: center;
  text-align: center;
  float: center;
  display: flex;
  height: 300px;
  width: 350px;
  background-color: ;
  
}
.kartu-tutor {
  align-content: center;
  align-items: center;
  display: flex;
  float: left;
  margin: 15px;
  height: 180px;
  width: 150px;
  margin: 15px;
  position: left;
  background-color: white;
  
}
.kartu-tutor2 {
  align-content: right;
  align-items: right;
  display: flex;
  float: Right;
  margin: 15px;
  height: 180px;
  width: 150px
  margin: 15;
  position: right;
  background-color: white;
}
.image {
  align-content: center;
  align-items: center;
  text-align: center;
  display: ;
  height: 150px;
  width: 110px;
  margin: 15px;
  background-color: white;
}
.image2 {
  align-content: center;
  align-items: center;
  text-align: center;
  display: solid;
  height: 150px;
  width: 110px;
  margin: 15px;
  background-color: white;
}

.ul {
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}
.end {
  text-align: center;
}


